<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div th:insert="~{/inc/header.html}"></div>
    <div th:insert="~{/inc/nav.html}"></div>
    <div>
        <section>
            <h2 th:text="${name}+'님의 장바구니'"></h2>
            <table border="1" align="center">
                <tr>
                    <th></th>
                    <th>상품 이미지</th>
                    <th>상품명</th>
                    <th>갯수</th>
                    <th>가격</th>
                </tr>
                <tr th:each="cart : ${dto}">
                   <td>
                       <input type="checkbox" value="idx">
                   </td>
                    <td>
                       <img th:src="@{|/upload/Thumb_${cart.cartProducts.productImgEntityList[0].s_file}|}">
                    </td>
                    <td th:text="${cart.cartProducts.p_name}"></td>
                    <td th:text="${#numbers.formatInteger(cart.quantity, 1, 'COMMA')+ '개'}"></td>
                    <td th:text="${#numbers.formatInteger(cart.cartProducts.p_price, 3, 'COMMA') + '원'}"></td>
                </tr>
            </table>
        </section>
    </div>
    <div th:insert="~{/inc/footer.html}"></div>
</body>
</html>