body {
    margin: 0;
}

header {
    width: 100%;
    background-color: #FAF3DB;
    text-align: center;
}

h2 {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 40px;
     padding: 8px 12px;
     line-height: 40px;
     background-color: antiquewhite;
 }

 .navbar_menu {
     display: flex;
     list-style: none;
     padding-left: 0;
 }

 .navbar_menu li {
     padding: 8px 12px;
 }

 .navbar_menu li img {
     width: 25px;
     height: 25px;
     vertical-align: middle;
 }

 .navbar_user {
    display: flex;
    list-style: none;
    padding-right: 0;
 }

.category {
    display: flex;
}

.category_menu {
    list-style: none;
}

.category_menu > li:hover .sub-category {
    display: block;
}

.category_menu > li:hover {
    display: block;
}

.sub-category {
    flex-direction: row; /* 수정된 부분 */
    list-style: none;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px; /* 추가된 부분 */
    min-height: 20px; /* 추가된 부분 */
}

.category_menu > li {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 10px;
}

section {
    width: 100%;
    min-height: 500px;
    background-color: lightyellow;
}

#ctn {
    height: 10%
}

#product-list{
    height: 80%
}

.pagination {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#product {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

#current-Page {
    color: red;
    font-weight: bold;
}

#file-item {
    margin-left: 300px
}

#content {
    margin-left: 200px
}

#content-item {
    border: 1px solid gray;
    padding: 10px;
    display: -webkit-inline-box;
    white-space: pre-line;
}

#content-item span.bold {
    font-weight: bold;
}

#count {
    text-align: center;
}

#btn {
    text-align: center;
}

footer {
	text-align: center;
	width: 100%;
	height: 100px;
	line-height: 100px;
	background-color: azure;
	display: inline-block;
}