<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="~{/inc/header.html}"></div>
<div th:insert="~{/inc/nav.html}"></div>
<div>
    <section>
        <h2>로그인</h2>
            <form action="/loginProc" method="post" name="loginForm" onsubmit="return lg()">
                <table border="1" align="center">
                    <tr>
                        <th>아이디</th>
                            <td><input id="id" type="text" name="id" placeholder="id"></td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                            <td><input id="password" type="password" name="password" placeholder="password"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="로그인"></td>
                    </tr>
                </table>
            </form>
    </section>
</div>
<div th:insert="~{/inc/footer.html}"></div>
<script src="/js/login.js"></script>
</body>
</html>